<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col col-4">
      <h1 class="h3 mb-3 font-weight-normal">Resend confirmation instructions</h1>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),  html: { method: :post })  do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <label>Email</label>
        <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

        <label>Confirm new password</label>
        <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", autocomplete: "New password" %>
        <div class="pt-3">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-dark" %>
        </div>
      <% end %>
      <div class="pt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
