.container.pt-5
  .row.justify-content-center
    .col.col-4
      %h1.h3.mb-3.font-weight-normal Change your password
      = form_for(resource, as: resource_name, url: password_path(resource_name),  html: { method: :put })  do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        %label New password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
          %br/
        = f.password_field :password, autofocus: true, class: "form-control", autocomplete: "New password"
        %label Confirm new password
        = f.password_field :password_confirmation, autofocus: true, class: "form-control", autocomplete: "New password"
        .pt-3
          = f.submit "Change my password", class: "btn btn-dark"
      .pt-3
        = render "devise/shared/links"
