<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col col-4">
      <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name),  html: { method: :put })  do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <label>New password</label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, class: "form-control", autocomplete: "New password" %>

        <label>Confirm new password</label>
        <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", autocomplete: "New password" %>
        <div class="pt-3">
          <%= f.submit "Change my password", class: "btn btn-dark" %>
        </div>
      <% end %>
      <div class="pt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
