.container.pt-5
  .row.justify-content-center
    .col.col-4
      %h1.h3.mb-3.font-weight-normal Forgot your password?
      = form_for(resource, as: resource_name, url: password_path(resource_name),  html: { method: :post })  do |f|
        = render "devise/shared/error_messages", resource: resource
        %label Email
        = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "Email"
        .pt-3
          = f.submit "Send me reset password instructions", class: "btn btn-dark"
      .pt-3
        = render "devise/shared/links"
