.container.pt-5
  .row.justify-content-center
    .col.col-4
      %h1.h3.mb-3.font-weight-normal Please sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin" }) do |f|
        %label Email
        = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "Email"
        %label Password
        = f.password_field :password, autofocus: true, class: "form-control", autocomplete: "Current password"
        - if devise_mapping.rememberable?
          .checkbox.mb-3
            = f.check_box :remember_me
            = f.label :remember_me
        = f.submit "Log in", class: "btn btn-dark"
      .pt-3
        = render "devise/shared/links"
