%p#notice= notice
= render 'search'
- @posts.each do |post|
  %div{class: 'container-fluid post'}
    %div
      %h2
        = link_to post.name, post, class: "link-dark", data: { turbolinks: false }
    %div
      = post.content

= render 'pagination'
