%nav.navbar.navbar-expand-lg.navbar.navbar-dark.bg-dark.px-15
  .container-fluid
    = image_tag("logo.png", class: "img-responsive", id: "navbar-logo", style: 'height:50px;width:auto; padding-right: 15px')
    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
      %li.nav-item
        %a.navbar-brand{:href => "#"} News
    %form.d-flex
      %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-secondary{:type => "submit"}
        %svg.bi.bi-search{:fill => "currentColor", :height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"}
%nav.navbar.navbar-expand-lg.navbar-light.bg-light.px-15
  .container-fluid
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item.pr-3
          %a.nav-link{:href => "#"} All topics
        %li.nav-item.px-3
          %a.nav-link{:href => "#"} Ruby
        %li.nav-item.px-3
          %a.nav-link{:href => "#"} Javascript
      .d-flex.align-items-center
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          - if user_signed_in?
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                %svg.bi.bi-person{:fill => "currentColor", :height => "20", :viewbox => "0 2 16 16", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"}
                %span Profile
              %ul.dropdown-menu.dropdown-menu--nav-bar{"aria-labelledby" => "navbarDropdown"}
                %li
                  %a.dropdown-item{:href => "#"} My profile
                = link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item"
                %li
                  %hr.dropdown-divider/
                %li
                  = link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"
          - else
            %li.nav-item
              = link_to "Sign up", new_user_registration_path, class: "nav-link active"
            %li.nav-item
              = link_to "Login", new_user_session_path, class: "nav-link active"
