%nav.navbar.navbar-expand-lg.navbar.navbar-dark.bg-dark.px-15
  .container-fluid
    = image_tag("logo.png", class: "img-responsive", id: "navbar-logo", style: 'height:50px;width:auto; padding-right: 15px')
    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
      %li.nav-item
        = link_to 'News', posts_path, class: "nav-link active"
    %form.d-flex
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item.pr-3
          = link_to 'New post', new_post_path, class: "nav-link active"
          - if current_user&.admin?
            %li.nav-item
            = link_to 'Admin Dashboard', admin_root_path, class: "nav-link active"

%nav.navbar.navbar-expand-lg.navbar-light.bg-white.px-15
  .container-fluid
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item.px-3
          = link_to 'All topics', posts_path, class: "nav-link active"
          %a.nav-link{:href => "#"}
        %li.nav-item.px-3
          %a.nav-link{:href => "#"} Ruby
        %li.nav-item.px-3
          %a.nav-link{:href => "#"} Javascript
        - if user_signed_in?
          %li.nav-item.px-3
            = link_to 'My profile', profiles_path, class: "nav-link active"
          %li.nav-item.px-3
          = link_to 'Edit profile', edit_profiles_path, class: "nav-link active"
          %li.nav-item.px-3
          = link_to 'User settings', edit_user_registration_path, class: "nav-link active"
          %li.nav-item.px-3
            %hr.dropdown-divider/
          %li.nav-item.px-3
            = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active"
        - else
          %li.nav-item
            = link_to "Sign up", new_user_registration_path, class: "nav-link active"
          %li.nav-item
            = link_to "Login", new_user_session_path, class: "nav-link active"
